<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shantkumarcs17.relativlayoutjava">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/question"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shantkumarcs17.relativlayoutjava.MainActivity"
            android:label="Quizbook"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shantkumarcs17.relativlayoutjava.Navigation_Activity"
            android:label="QuizBook"
            android:parentActivityName="com.shantkumarcs17.relativlayoutjava.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shantkumarcs17.relativlayoutjava.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MYACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shantkumarcs17.relativlayoutjava.Questions"
            android:label="Questions"
            android:parentActivityName="com.shantkumarcs17.relativlayoutjava.Navigation_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shantkumarcs17.relativlayoutjava.Navigation_Activity" />
            <intent-filter>
                <action android:name="android.intent.action.MYACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shantkumarcs17.relativlayoutjava.Result"
            android:label="Result" />
        <activity
            android:name="com.shantkumarcs17.relativlayoutjava.ScoreCard"
            android:label="High Score"
            android:parentActivityName="com.shantkumarcs17.relativlayoutjava.Navigation_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shantkumarcs17.relativlayoutjava.Navigation_Activity" />
            <intent-filter>
                <action android:name="android.intent.action.MYACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shantkumarcs17.relativlayoutjava.Setting_activity"
            android:label="@string/title_activity_setting_activity"
            android:parentActivityName="com.shantkumarcs17.relativlayoutjava.Navigation_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shantkumarcs17.relativlayoutjava.Navigation_Activity" />
            <intent-filter>
                <action android:name="android.intent.action.MYACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>